h1{color: rgb(26, 207, 9);}
/*{border: solid;}*/

.test{
    background-color: rgb(18, 113, 238);
    display: flex;
    justify-content: space-between;
}

.test2{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
}

.site-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
}

.test4{
    display: flex;
    justify-content: flex-end;

}

.p,h2{
    text-align: center;

}